
/* Global CSS */

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 54px;
    padding: 0px 10px;
    background: var(--b12);
    border-bottom: 1px solid var(--b18);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.1s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    z-index: 5;
}
#topbar.scrolled {
    box-shadow: 0px -15px 10px 15px rgba(0, 0, 0, 0.2);
}
#topbar .title {
    margin-top: -2px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 24px;
    color: var(--f85);
    text-align: center;
    line-height: 1.2;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.controlBtn {
    background: none;
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 32px;
    color: var(--b90);
    transition: 0.1s ease-in-out;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
}
.canHover .controlBtn:hover,
.controlBtn:focus-visible {
    background: var(--b25);
}
.controlBtn:active {
    background: var(--b35) !important;
}
#topbar .poop {
    flex-shrink: 0;
}

#main {
    margin-top: 55px;
    transition: 0.15s ease-in-out;
}
#main iframe {
    border: none;
    width: 100%;
    height: 10px;
    opacity: 0;
    transition: 0.1s ease-in-out;
    transition-property: opacity;
}
#main #head {
    background: linear-gradient(var(--b12), transparent);
    padding: 30px 30px;
    padding-bottom: 50px;
    margin-bottom: -40px;
}
#main #head .content {
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#main #head .content .title {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 30px;
    color: var(--f90);
    line-height: 1.1;
}
#main #head .content .desc {
    color: var(--b80);
    line-height: 1.4;
}
#main #head .content .controls {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}
#main #content {
    margin: 0px auto;
    max-width: 1000px;
    padding: 15px 20px;
}
#main #content .toolCont {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}
#main #content .toolCont .toolCard {
    all: unset;
    display: flex;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 16px;
    background: var(--b18);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    min-height: 65px;
    transition: 0.1s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
}
#main #content .toolCont .toolCard:disabled {
    opacity: 0.5;
    box-shadow: none;
    background: var(--b12);
}
.canHover #main #content .toolCont .toolCard:hover:not(:disabled),
#main #content .toolCont .toolCard:focus-visible:not(:disabled) {
    background: var(--b30);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}
#main #content .toolCont .toolCard:active:not(:disabled) {
    background: var(--b40) !important;
    border-color: var(--b40) !important;
    transform: scale(0.96) !important;
}
#main #content .toolCont .toolCard .icon {
    font-size: 40px;
    color: var(--f75);
}
#main #content .toolCont .toolCard .context {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
}
#main #content .toolCont .toolCard .context .name {
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: bold;
    color: var(--f90);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#main #content .toolCont .toolCard .context .desc {
    line-height: 120%;
}

body#tool.noBack { background: transparent }
body#tool #container {
    position: absolute;
    display: flex;
    min-height: 100%;
    width: 100%;
    padding: 20px;
}
body#tool.noCenter #container {
    min-height: unset;
}
body#tool.noScroll {
    scrollbar-width: none;
}
body#tool.noScroll::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}
body#tool #container #content {
    margin: auto;
    width: 1000px;
}
body#tool.noCenter #container #content {
    margin: 0px auto;
}

.resultCard {
    padding: 12px 18px;
    background: var(--b12);
    border-radius: 16px;
    font-family: 'Quicksand';
    font-size: 36px;
    font-weight: bold;
    color: var(--f90);
    font-weight: 600;
    line-height: 1.1;
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: 12px;
}
.resultCard.larger {
    font-size: 46px;
    gap: 16px;
}
.resultCard.smaller {
    font-size: 32px;
}
.resultCard .placeholder {
    font-size: 20px;
    color: var(--b70);
    font-style: italic;
}
.resultCard .success {
    color: hsl(110, 100%, 80%);
}
.resultCard .fail {
    color: hsl(0, 100%, 80%);
}
.resultCard button {
    flex-shrink: 0;
}
.resultCard.statCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.resultCard.statCont .name {
    color: var(--b65);
    font-size: 18px;
    font-weight: bold;
}
.resultCard.statCont .value {
    color: var(--f90);
    font-size: 20px;
    font-weight: 600;
}
.resultCard.statCont .value.copyable {
    cursor: copy;
    transition: 0.1s ease-in-out;
}
.canHover .resultCard.statCont .value.copyable:hover {
    color: var(--f95);
}
.resultCard.statCont .value.copyable:active {
    color: var(--b100) !important;
}

@media screen and (max-width: 800px) {
    #main #content .toolCont {
        grid-template-columns: 100%;
    }
    #main #content .toolCont .toolCard {
        height: auto;
    }
}