
/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Colour variables */
body {
    --dullHue: 220;
    --dullSat: 8%;
    --brightHue: 320;
    --brightSat: 75%;
    --b5:  hsl(var(--dullHue), var(--dullSat), 5%);
    --b5:  hsl(var(--dullHue), var(--dullSat), 8%);
    --b10: hsl(var(--dullHue), var(--dullSat), 10%);
    --b12: hsl(var(--dullHue), var(--dullSat), 12%);
    --b15: hsl(var(--dullHue), var(--dullSat), 15%);
    --b18: hsl(var(--dullHue), var(--dullSat), 18%);
    --b20: hsl(var(--dullHue), var(--dullSat), 20%);
    --b25: hsl(var(--dullHue), var(--dullSat), 25%);
    --b30: hsl(var(--dullHue), var(--dullSat), 30%);
    --b35: hsl(var(--dullHue), var(--dullSat), 35%);
    --b40: hsl(var(--dullHue), var(--dullSat), 40%);
    --b45: hsl(var(--dullHue), var(--dullSat), 45%);
    --b50: hsl(var(--dullHue), var(--dullSat), 50%);
    --b55: hsl(var(--dullHue), var(--dullSat), 55%);
    --b60: hsl(var(--dullHue), var(--dullSat), 60%);
    --b65: hsl(var(--dullHue), var(--dullSat), 65%);
    --b70: hsl(var(--dullHue), var(--dullSat), 70%);
    --b75: hsl(var(--dullHue), var(--dullSat), 75%);
    --b80: hsl(var(--dullHue), var(--dullSat), 80%);
    --b85: hsl(var(--dullHue), var(--dullSat), 85%);
    --b90: hsl(var(--dullHue), var(--dullSat), 90%);
    --b95: hsl(var(--dullHue), var(--dullSat), 95%);
    --b100: #fff;
    --f5:  hsl(var(--brightHue), var(--brightSat), 5%);
    --f10: hsl(var(--brightHue), var(--brightSat), 10%);
    --f15: hsl(var(--brightHue), var(--brightSat), 15%);
    --f20: hsl(var(--brightHue), var(--brightSat), 20%);
    --f25: hsl(var(--brightHue), var(--brightSat), 25%);
    --f30: hsl(var(--brightHue), var(--brightSat), 30%);
    --f35: hsl(var(--brightHue), var(--brightSat), 35%);
    --f40: hsl(var(--brightHue), var(--brightSat), 40%);
    --f45: hsl(var(--brightHue), var(--brightSat), 45%);
    --f50: hsl(var(--brightHue), var(--brightSat), 50%);
    --f55: hsl(var(--brightHue), var(--brightSat), 55%);
    --f60: hsl(var(--brightHue), var(--brightSat), 60%);
    --f65: hsl(var(--brightHue), var(--brightSat), 65%);
    --f70: hsl(var(--brightHue), var(--brightSat), 70%);
    --f75: hsl(var(--brightHue), var(--brightSat), 75%);
    --f80: hsl(var(--brightHue), var(--brightSat), 80%);
    --f85: hsl(var(--brightHue), var(--brightSat), 85%);
    --f90: hsl(var(--brightHue), var(--brightSat), 90%);
    --f95: hsl(var(--brightHue), var(--brightSat), 95%);
}

* {
    max-height: 1000000px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--b15);
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    color: var(--b95);
    line-height: 1;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand';
    font-weight: 500;
    padding: 0px;
    margin: 0.7em 0px 0.5em 0px;
    line-height: 1.2;
}
h3, h4, h5 {
    font-weight: 700;
}

h1 { font-size: 36px } 
h2 { font-size: 30px } 
h3 { font-size: 26px } 
h4 { font-size: 22px } 
h5 { font-size: 18px } 
h6 { font-size: 16px } 

a {
    color: var(--f85);
    text-decoration: none;
}
.canHover a:hover,
a:focus-visible {
    color: var(--b70);
}

p {
    line-height: 1.5;
    margin: 0.3em 0px 0.5em 0px;
}

small {
    font-size: 14px;
    color: var(--b70);
    line-height: 1.2;
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 54px;
    padding: 0px 10px;
    background: var(--b12);
    border-bottom: 1px solid var(--b18);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.1s ease-in-out;
    user-select: none;
    overflow: hidden;
    z-index: 5;
}
#topbar.scrolled {
    box-shadow: 0px -15px 10px 15px rgba(0, 0, 0, 0.2);
}
#topbar .title {
    margin-top: -2px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 24px;
    color: var(--f85);
    text-align: center;
    line-height: 1.2;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.controlBtn {
    background: none;
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 32px;
    color: var(--b90);
    transition: 0.1s ease-in-out;
    flex-shrink: 0;
    user-select: none;
}
.canHover .controlBtn:hover,
.controlBtn:focus-visible {
    background: var(--b25);
}
.controlBtn:active {
    background: var(--b35) !important;
}
#topbar .poop {
    flex-shrink: 0;
}

#main {
    margin-top: 55px;
    transition: 0.15s ease-in-out;
}
#main iframe {
    border: none;
    width: 100%;
    height: 10px;
    opacity: 0;
    transition: 0.1s ease-in-out;
    transition-property: opacity;
}
#main #head {
    background: linear-gradient(var(--b12), transparent);
    padding: 30px 30px;
    padding-bottom: 50px;
    margin-bottom: -40px;
}
#main #head .content {
    margin: 0px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#main #head .content .title {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 30px;
    color: var(--f90);
    line-height: 1.1;
}
#main #head .content .desc {
    color: var(--b80);
    line-height: 1.4;
}
#main #head .content .controls {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}
#main #content {
    margin: 0px auto;
    max-width: 1000px;
    padding: 15px 20px;
}
#main #content .toolCont {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}
#main #content .toolCont .toolCard {
    all: unset;
    display: flex;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 16px;
    background: var(--b18);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    min-height: 65px;
    transition: 0.1s ease-in-out;
    user-select: none;
}
#main #content .toolCont .toolCard:disabled {
    opacity: 0.5;
    box-shadow: none;
    background: var(--b12);
}
.canHover #main #content .toolCont .toolCard:hover:not(:disabled),
#main #content .toolCont .toolCard:focus-visible:not(:disabled) {
    background: var(--b30);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}
#main #content .toolCont .toolCard:active:not(:disabled) {
    background: var(--b40) !important;
    border-color: var(--b40) !important;
    transform: scale(0.96) !important;
}
#main #content .toolCont .toolCard .icon {
    font-size: 40px;
    color: var(--f75);
}
#main #content .toolCont .toolCard .context {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
}
#main #content .toolCont .toolCard .context .name {
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: bold;
    color: var(--f90);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#main #content .toolCont .toolCard .context .desc {
    line-height: 120%;
}

body#tool.noBack { background: transparent }
body#tool #container {
    position: absolute;
    display: flex;
    min-height: 100%;
    width: 100%;
    padding: 20px;
}
body#tool.noCenter #container {
    min-height: unset;
}
body#tool.noScroll {
    scrollbar-width: none;
}
body#tool.noScroll::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}
body#tool #container #content {
    margin: auto;
    width: 1000px;
}
body#tool.noCenter #container #content {
    margin: 0px auto;
}

.resultCard {
    padding: 12px 18px;
    background: var(--b12);
    border-radius: 16px;
    font-family: 'Quicksand';
    font-size: 36px;
    font-weight: bold;
    color: var(--f90);
    font-weight: 600;
    line-height: 1.1;
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: 12px;
}
.resultCard.larger {
    font-size: 46px;
    gap: 16px;
}
.resultCard.smaller {
    font-size: 32px;
}
.resultCard .placeholder {
    font-size: 20px;
    color: var(--b70);
    font-style: italic;
}
.resultCard .success {
    color: hsl(110, 100%, 80%);
}
.resultCard .fail {
    color: hsl(0, 100%, 80%);
}
.resultCard button {
    flex-shrink: 0;
}
.resultCard.statCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.resultCard.statCont .name {
    color: var(--b65);
    font-size: 18px;
    font-weight: bold;
}
.resultCard.statCont .value {
    color: var(--f90);
    font-size: 20px;
    font-weight: 600;
}
.resultCard.statCont .value.copyable {
    cursor: copy;
    transition: 0.1s ease-in-out;
}
.canHover .resultCard.statCont .value.copyable:hover {
    color: var(--f95);
}
.resultCard.statCont .value.copyable:active {
    color: var(--b100) !important;
}

.input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.input * {
    flex-basis: 100%;
}
.input label {
    font-size: 15px;
    line-height: 1.2;
    color: var(--b70);
    z-index: 2;
}
.input small {
    margin-left: 8px;
}
.textbox {
    all: unset;
    -moz-appearance: textfield;
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    background: var(--b15);
    border-radius: 12px;
    border: 1px solid var(--b30);
    transition: 0.1s ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 1;
}
.input.custom .textbox {
    height: auto;
}
.input.labeled label {
    margin-left: 13px;
    width: 0px;
    margin-top: 10px;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input.labeled .textbox {
    margin-top: -34px;
    padding-top: 22px;
}
textarea.textbox {
    height: auto;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    line-height: 1.4;
    overflow-y: hidden;
}
.input.labeled textarea.textbox {
    padding-top: 32px;
}
textarea.textbox {
    white-space: pre-wrap;
    word-break: break-word;
}
textarea.textbox::-webkit-scrollbar {
    background: transparent;
}
.textbox::-webkit-inner-spin-button,
.textbox::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"].textbox {
    -moz-appearance: textfield;
}
.textbox:disabled {
    background: var(--b12);
    overflow: auto;
    display: block;
}
.canHover .textbox:hover:not(:disabled) {
    border-color: var(--b50);
}
.textbox:focus:not(:disabled) {
    border-color: var(--f80) !important;
    background: var(--b10);
    box-shadow: 0px 0px 0px 1px var(--f80);
}
select.textbox {
    position: relative;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.input.labeled.dropdown::after {
    position: absolute;
    top: 18px;
    right: 10px;
    display: flex;
    font-family: 'Material Symbols Outlined';
    font-display: fallback;
    font-size: 32px;
    color: var(--b60);
    z-index: 4;
    pointer-events: none;
}
.input.labeled.dropdown::after {
    content: "expand_more";
}

.btn {
    all: unset;
    --w: 40px;
    height: var(--w);
    padding: 0px 18px;
    border-radius: 100px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 16px;
    color: var(--b15);
    background: var(--f85);
    transition: 0.1s ease-in-out;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn.iconOnly {
    padding: 0px;
    width: var(--w);
}
.btn.small {
    --w: 34px;
    font-size: 15px;
}
.btn.large {
    --w: 48px;
    font-size: 18px;
}
.btn .icon {
    font-family: 'Material Symbols Outlined';
    font-display: fallback;
    font-size: 28px;
    margin: 0px -5px;
}
.btn.small .icon {
    font-size: 22px;
}
.btn.large .icon {
    font-size: 34px;
}
.btn.alt {
    background: var(--b30);
    color: var(--b95);
}
.btn.alt2 {
    background: transparent;
    color: var(--f90);
    box-shadow: none;
}
.btn:disabled {
    background: var(--b10);
    color: var(--b60);
    box-shadow: none;
}
.btn.alt2:disabled {
    background: transparent;
}
.canHover .btn:hover:not(:disabled),
.btn:focus-visible:not(:disabled) {
    background: var(--f90);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
}
.btn:active:not(:disabled),
.btn.active {
    background: var(--f95) !important;
    transform: scale(0.93);
}
.canHover .btn.alt:hover:not(:disabled),
.btn.alt:focus-visible:not(:disabled) {
    background: var(--b50);
}
.btn.alt:active:not(:disabled),
.btn.alt.active {
    background: var(--b60) !important;
}
.canHover .btn.alt2:hover:not(:disabled),
.btn.alt2:focus-visible:not(:disabled) {
    background: var(--b25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.btn.alt2:active:not(:disabled),
.btn.alt2.active {
    background: var(--b35) !important;
}

.selectGroup {
    padding: 10px 12px;
    border-radius: 12px;
    background: var(--b15);
    border: 1px solid var(--b30);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px 10px;
}
.selectGroup.inline {
    flex-direction: row;
}
.selectGroup label:not(.selectOption) {
    font-size: 15px;
    line-height: 1.2;
    color: var(--b70);
}
.selectGroup.inline label:not(.selectOption) {
    flex-basis: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    font-family: "Material Symbols Outlined";
    font-display: fallback;
    font-size: 2em;
    color: var(--b65);
    line-height: 1;
    flex-shrink: 0;
    transition: 0.1s ease-in-out;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    color: var(--f85);
}
input[type="radio"]::before { content: "radio_button_unchecked"; }
input[type="radio"]:checked::before { content: "radio_button_checked"; }
input[type="checkbox"]::before { content: "check_box_outline_blank"; }
input[type="checkbox"]:checked::before { content: "check_box"; }
label.selectOption {
    display: flex;
    align-items: center;
    padding-right: 8px;
}
label.selectOption input[type="radio"],
label.selectOption input[type="checkbox"] {
    margin-top: 0;
    margin-right: 0.3em;
}
.canHover label.selectOption:hover > input[type="radio"],
.canHover label.selectOption:hover > input[type="checkbox"] {
    color: var(--b80);
}
.canHover label.selectOption:hover > input[type="radio"]:checked,
.canHover label.selectOption:hover > input[type="checkbox"]:checked {
    color: var(--f90);
}
label.selectOption .innerLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.slider {
    position: relative;
    width: 100%;
    height: 28px;
}
.slider input[type="range"] {
    --thumbFill: var(--f90);
    appearance: none;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-left: -12px;
    width: calc(100% + 24px);
    height: 24px;
    z-index: 2;
}
.slider progress {
    appearance: none;
    background: var(--b50);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 11px;
    margin-top: 9px;
    z-index: 1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    outline: none;
    border: none;
}
.slider progress::-webkit-progress-bar {
    background: var(--b50);
    border-radius: 100px;
}
.slider progress::-webkit-progress-value {
    background: var(--f85);
    border-radius: 100px;
}
.slider progress::-moz-progress-bar { 
    background: var(--f85);
    border-radius: 100px;
}
.slider input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--thumbFill);
    border: 4px solid var(--b100);
    border-radius: 100px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.1s ease-in-out;
}
.canHover .slider input[type="range"]::-webkit-slider-thumb:hover,
.slider input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}
.slider input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 17px;
    height: 17px;
    background: var(--thumbFill);
    border: 4px solid var(--b100);
    border-radius: 100px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.1s ease-in-out;
}
.canHover .slider input[type="range"]::-moz-range-thumb:hover,
.slider input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.15);
}

::placeholder {
    color: var(--b70);
    user-select: none;
}

.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gap-20 { gap: 20px }
.gap-18 { gap: 18px }
.gap-12 { gap: 12px }
.gap-10 { gap: 10px }
.gap-8 { gap: 8px }
.gap-5 { gap: 5px }
.gap-3 { gap: 3px }
.no-wrap { flex-wrap: nowrap }
.flex-grow { flex-grow: 1 }
.align-center { align-items: center }
.justify-center { justify-content: center }
.flex-1 { flex: 1 }
.hidden { display: none }
.text-center { text-align: center }

@media screen and (max-width: 450px) {
    .row.xs > * {
        flex-basis: 100%;
        width: 100% !important;
    }
}
@media screen and (max-width: 550px) {
    .row.sm > * {
        flex-basis: 100%;
        width: 100% !important;
    }
}
@media screen and (max-width: 700px) {
    .row.md > * {
        flex-basis: 100%;
        width: 100% !important;
    }
}
@media screen and (max-width: 800px) {
    #main #content .toolCont {
        grid-template-columns: 100%;
    }
    #main #content .toolCont .toolCard {
        height: auto;
    }
}
@media screen and (max-width: 900px) {
    .row.lg > * {
        flex-basis: 100%;
        width: 100% !important;
    }
}

::selection {
    background: var(--f85);
    color: var(--b12);
}

/* Custom scrollabrs */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background: var(--b10);
}
::-webkit-resizer {
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: var(--b60);
    border-radius: 100px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
}
.canHover ::-webkit-scrollbar-thumb:hover {
    background: var(--b90) !important;
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:active {
    background: var(--f85);
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}